:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdb;
  --header-height: 120px;
  --navbar-height: 28px;
  --star-gold-color: #FFCE3D
}

* {
  box-sizing: inherit;
}

html {
  /* HACK */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
  margin-right: 0;
}

/* Animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* Button style */

.btn {
  min-width: 125px;
  min-height: 35px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.btn.btn--normal:hover {
  background-color: rgba(0,0,0,0.1);
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn-primary:hover {
  background-color: #FB6445;
  cursor: pointer;
}

.btn.btn-disabled {
  background-color: #C3C3C3;
  color: #7E7070;
}

.btn.btn--size-m {
  min-height: 4rem;
  font-size: 1.2rem;
}

/* Sellection */

.select-input {
  position: relative;
  height: 35px;
  padding: 10px;
  background-color: var(--white-color);
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  z-index: 1;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.1rem;
  color: #4A4A4A;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 8px);
  border-radius: 3px;
  background-color: var(--white-color);
  padding: 8px 16px;
  list-style: none;
  display: none;
}

.select-input__list::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 20px;
  width: 100%;
}

.select-input__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 10px 0;
}

.select-input__link:hover {
  color: var(--primary-color);
}

