.header {
  height: 120px;
  background-image: linear-gradient(0, #FE6433, #F53E2D);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
}

.header__navbar-item {
  margin: 0 10px;
  position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover, 
.header__navbar-icon:hover {
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}
.header__navbar-item-link--bold {
  font-weight: 600;
}

.header__navbar-item--separate::after {
  content: "";
  position: absolute;
  display: block;
  border-left: 2px solid #FB9087;
  height: 17px;
  right: -11px;
  top: 0px;
}

.header__navbar-item-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 20px;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  color: var(--white-color);
  cursor: text;
}

.header__qr {
  background-color: var(--white-color);
  width: 220px;
  position: absolute;
  top: 180%;
  left: 0;
  padding: 8px;
  border-radius: 3px;
  display: none;
  animation: fadein ease-in 0.2s;
}

.header__qr::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  top: -25px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-img {
  width: 100%;
}

.header__qr-link:nth-child(1) {
  margin-left: 13px;
}

.header__qr-link:nth-child(2) {
  margin-right: 13px;
}

.header__qr-download-img {
  height: 19px;
}

.header__navbar-item--hover:hover .header__qr {
  display: block;
}

/*  ----- Notification ----- */

.header__notify {
  position: absolute;
  width: 400px;
  background-color: var(--white-color);
  top: 180%;
  right: 0;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  cursor: default;
  transform-origin: calc(100% - 30px) top;
  will-change: opacity transform;
  animation: growth ease-in 0.25s;
  display: none;
}

.header__notify::before {
  content: "";
  height: 30px;
  position: absolute;
  width: 110px;
  top: -25px;
  right: 0;
}

.header__notify::after{
  content: "";
  position: absolute;
  border-width: 15px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 12px;
  top: -28px;
}

@keyframes growth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header__notify-header {
  height: 40px;
} 

.header__notify-header span {
  color: #A2A2A2;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
  margin: 0 0 0 12px;
  user-select: none;
}

.header__notify-list {
  padding: 0;
}

.header__notify-item:hover,
.header__notify-footer:hover {
  background-color: rgba(250,250,245,1);
}

.header__notify-link {
  display: flex;
  padding: 6px 12px 12px 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-link--un-read {
  background-color: rgba(247,65,55,0.08);
}

.header__notify-img {
  width: 50px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.5rem;
  color: #3D3D3D;
  margin-bottom: 5px;
}

.header__notify-describe {
  display: block;
  font-size: 1.2rem;
  color: #756F6E;
}

.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.header__navbar-item--has-noti:hover .header__notify {
  display: block;
}
/*     ----- End -----     */

/*     ----- Modal -----     */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal__body {
  background-color: var(--white-color);
  margin: auto;
  z-index: 1;
  border-radius: 5px;
}
/*     ----- END -----     */

/*     ----- Authen Form -----     */

.auth-form {

}

.auth-form__container {

}

.auth-form__header {

}

.auth-form__heading {

}

.auth-form__switch-button {

}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {

}

.auth-form__aside {

}

.auth-form__policy-text {

}

.auth-form__policy-link {

}

.auth-form__form-controls {

}

.auth-form__social-media {

}

.btn {

}

.btn-primary {

}

.btn--with-icon {

}

/*     ----- END -----     */
